<div class="dashboard">
    <app-login (logoutButton)="logoutEvent()" (loginButton)="loginEvent()"></app-login>
    <app-post-form 
        [formValues]="formValues"
        (formSubmit)="onSubmit($event)">
    </app-post-form>
    <div class="dashboard__cards-content">
        <app-card-post 
            *ngFor="let card of cardList" 
            [title]="card.title" 
            [body]="card.body"
            [state]="card.state"
            [postId]="card.post_id"
            (deleteButton)="deleteButton($event)"
            (editButton)="editButton($event)"
            >
        </app-card-post>
    </div>
</div>